.post-content {
    & img {
      display: block;
      margin: 1rem;
      max-width: 100%;
      box-shadow: 2px 20px 40px 10px var(--box-shadow-dark);
      
      @media screen and (max-width: 800px) {
        box-shadow: none;
      }
    }
}

.avatar {
    &:hover {
        transform: scale(1.2);
    }
}